html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(8, 4, 4); /* Apply the background color to the entire page */
}

.App {
  display: flex;
  flex-direction: column; /* Stack text and carousel vertically */
  width: 100%;
  min-height: 100vh; /* Ensure the container covers at least the viewport height */
  align-items: center;
  justify-content: center;
}

